.video-card{
    width: 25%;
    height: auto;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 20px;
}
.card-title{
    font-size: 16px;
    color: black;
    margin: 10px 0px;
}
.card-img{
    position: relative;
}
.type{
    padding: 3px 10px;
    font-size: 12px;
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: rgba(229, 9, 20, 1);
    border-radius: 2px;
    color: #FFFFFF;
}